<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
  <a class="navbar-brand" href="#"><img [src]="loginService.img"  width="30"> {{loginService.nombre}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="loginService.estado" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="asignar" > <i class="fa fa-plus"></i> Asignar</a>
      </li>
      <li *ngIf="loginService.estado" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="asistencia"> <i class="fa fa-calendar"></i> Asistencia</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li *ngIf="loginService.estado" class="nav-item">
        <a class="nav-link" routerLink="login"> <i class="fa fa-save"></i> Ingresar</a>
      </li>
      <li *ngIf="!loginService.estado" class="nav-item">
        <a class="nav-link" routerLink="login"> <i class="fa fa-save"></i> Ingresar</a>
      </li>
      <li *ngIf="loginService.estado" class="nav-item">
        <a class="nav-link" (click)="logout()" > <i class="fa fa-close"></i> Salir</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

