<div style="text-align: center" *ngIf="auth.user | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>
</div>
  <ng-template #showLogin >
    <div class="div" style="text-align: center">
      <p>Porfavor iniciar con.</p>
      <button (click)="login()">Login with Google</button>
    </div>
  </ng-template>
<div class="row" *ngIf="admin">
  <a class="btn btn-success" routerLink="../adminsisinf">Estudiantes</a>
  <a class="btn btn-warning" routerLink="../controldia">Dias</a>
  <a class="btn btn-danger" routerLink="../lista">Listas</a>
</div>
